button .iconnnav{
    height: 30px;
    width: 30px;
    float: none !important;
    position: absolute !important;
    margin: 0px 0px 0px 10px ;
    color: #FFB200 !important; 
}

.logoheader{
    width: 60px;
    height: 60px;
    display: block;
    margin:auto;
}

.app {
    display: flex;
    flex-direction: row;
  }
  
  .main-content {
    flex-grow: 1;
    padding: 20px;
  }
  